body {
  background: #fbfbfb;
}

b {
  font-weight: 500;
}
h2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 450;
}
h5 {
  font-weight: 500;
}

footer {
  padding-bottom: 40px;
}

#about {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #333;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: linear-gradient(rgba(252, 252, 252, 0.95) 80%, rgba(252, 252, 252, 0));
}
.uk-logo {
  color: #333;
}
.uk-h3, .uk-h4 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.uk-icon-button {
  background: #fbfbfb;
}
