b {
  font-weight: 500;
}

h2, h3, h4 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h2 {
  font-weight: 450;
}
h5 {
  font-weight: 500;
}

#about {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #333;
}

article > p {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.uk-h3, .uk-h4 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.uk-icon-button {
  background: #fbfbfb;
}

.scrambleTitle {
  width: 180px;
  height: 44px;
  font-size: 2rem;
}

.uk-logo {
  color: #333;
  padding: 0 50px;
}

.topbar {
  width: 100%;
}

.toplink {
  padding: 0 15px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.toplinks {
  position: absolute;
  top: 10px;
  right: 50px;
  font-size: 1.1em;
}

@media screen and (max-width: 600px) {
  .sticky {
    height: 110px;
  }

  .uk-logo {
    padding: 0 15px;
  }

  .scrambleTitle {
    font-size: 1.5rem;
  }

  .toplinks {
    position: absolute;
    top: 50px;
    left: 0px;
  }
}

.space {
  font-size: 0.1rem;
}
@media screen and (max-width: 519px) {
  .period {
    font-size: 1rem;
  }
}
@media screen and (min-width: 520px) {
  .period {
    font-size: 0.9rem;
  }
}
