.sticky {
  background: linear-gradient(
    rgba(252, 252, 252, 0.95) 80%,
    rgba(252, 252, 252, 0)
  );
  vertical-align: bottom;
  z-index: 1;
}

.uk-logo {
  color: #333;
  padding: 0 50px;
}

@media screen and (max-width: 600px) {
  .uk-logo {
    padding: 0 15px;
  }

  .scrambleTitle {
    font-size: 1.5rem;
  }
}
