body {
  background-color: #ffaa77;
}

.maple {
  background: #ff4433;
  width: 30px;
  height: 30px;
  border-radius: 100% 1% / 100% 1%;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.maple::before {
  position: absolute;
  content: "";
  background: #ff4433;
  width: 20px;
  height: 30px;
  border-radius: 100% 1% / 100% 1%;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.maple::after {
  position: absolute;
  left: 5px;
  top: 2px;
  content: "";
  background: #ff4433;
  width: 20px;
  height: 35px;
  border-radius: 100% 1% / 100% 1%;
  transform: rotate(80deg);  
  -webkit-transform: rotate(80deg);
}

.yellow, .yellow::before, .yellow::after {
  background: #ffff55
}