#root
  h1 ozawakun.io
  section
    h2 About
    #description
      b Kunio Ozawa
      |  a.k.a. 
      b zakuni
  section      
    h2 Other Services
    ul#links
      li
        a href="http://zakuni.blogspot.jp/" blog
      li
        a href="https://twitter.com/zakuni" twitter
      li
        a href="https://www.facebook.com/zakuni" facebook
      li
        a href="https://github.com/zakuni" github
      li
        a href="http://zakuni.tumblr.com/" tumblr          
      li
        a href="http://www.flickr.com/photos/zakuni/" flickr
  #root_footer
footer ozawakun.io, since 2013