nav.uk-navbar-container.uk-navbar-transparent[uk-navbar]
  .uk-navbar-center
    a#title.uk-navbar-item.uk-logo[href="#"] ozawakun.io
    ul.uk-navbar-nav
      li
        a[href="#about" uk-scroll] About
      li
        a[href="#products" uk-scroll] Works
      li
        a[href="#otherservices" uk-scroll] LINKS
.uk-container.uk-container-small
  main
    section.uk-section
      h2#about.uk-h4 ABOUT
      p#description
        b Kunio Ozawa
        |  a.k.a.&nbsp;
        b zakuni
    section.uk-section
      h2#products.uk-h4 WORKS
      .uk-grid-match.uk-text-center[class="uk-child-width-1-3@s" uk-grid]
        div
          .uk-card.uk-card-default.uk-card-body
            a.uk-link-muted href="http://machiawase.herokuapp.com" 街合わせ
        div
          .uk-card.uk-card-default.uk-card-body
            a.uk-link-muted href="http://boy2man.herokuapp.com" Boy2Man
        div
          .uk-card.uk-card-default.uk-card-body
            a.uk-link-muted href="smoothsnap/sample.html" SmoothSnap
        div
          .uk-card.uk-card-default.uk-card-body
            a.uk-link-muted href="sakurafubuki/index.html" 桜吹雪
        div
          .uk-card.uk-card-default.uk-card-body
            a.uk-link-muted href="chirimomiji/index.html" 散り紅葉
    section.uk-section
      h2#otherservices.uk-h4 LINKS
      ul.uk-list.uk-list-bullet.uk-link-muted
        li
          a href="https://zakuni.blogspot.jp/" blog
        li
          a href="https://twitter.com/zakuni" twitter
        li
          a href="https://www.facebook.com/zakuni" facebook
        li
          a href="https://github.com/zakuni" github
        li
          a href="https://zakuni.tumblr.com/" tumblr
        li
          a href="https://www.flickr.com/photos/zakuni/" flickr
  footer.uk-text-center.uk-link-muted.uk-text-meta.uk-margin-small-bottom
    div
      a href="http://ozawakun.io" ozawakun.io
      |, since 2013.&nbsp;
      a href="mailto:contactme&#64;ozawakun.io" contactme&#64;ozawakun.io
